body {
  text-align: center;
  margin: 10px;
}

.bordered-box {
  width: 50%;
  border: 1px solid rgb(28, 40, 99);
  padding: 10px;
  margin: auto;
}

.message-board {
  height: 85vh;

}

.content-right {
  text-align: right;
}

.content-left {
  text-align: left;
}

#submit {
 color: #73AD21;
 font-size: 100%;
 width: 50px;
 height: 30px;
 border: none;
 margin: 10px;
 padding: 0px;
}

.message {
  padding-top: 10px;
  font-family: Verdana, sans-serif;
}
