body {
  text-align: center;
  margin: 10px;
  background-color: darkgray;
}

.bordered-box {
  width: 50%;
  border: 1px solid rgb(28, 40, 99);
  padding: 10px;
  margin: auto;
}

.message-board {
  height: 85vh;
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/79/5c/ab/795cabc4647f73b365e2e6eabd0f34dc.jpg);
}

.content-right {
  text-align: right;
  background-color: white;
}

.content-left {
  text-align: left;
  background-color: rgb(124, 171, 124);
}

#submit {
 color: #73AD21;
 font-size: 100%;
 width: 50px;
 height: 30px;
 border: none;
 margin: 10px;
 padding: 0px;
}

.message {
  padding-top: 10px;
  font-family: Verdana, sans-serif;
  padding: 8px;
  box-shadow: 0 0 11px 5px rgba(128, 128, 128, 0.32);
  border-radius: 9px;

}
